/* HEADER */

img.logo{
	display: inline;
}

form {
	margin: 20px auto;
	width: 42%;
}

textarea{
	margin-left: 10px;
}

form.login input {
	display: block;
	margin: 10px;
}

/* NAVBAR */
#nav {
	display: inline;
	font-size: 1.2em;
}

#nav ul{
	display: inline;
	margin-left: 10px;
}

#nav li{
	display: inline;
	margin: 10px;
}


/* FOOTER */

footer {
	width:100%;
}

footer p{
	text-align: center;
}