/* HEADER */

header{
	background-color: #B7CC14;
	border-bottom: 4px solid black;
	padding: 5px;
}

img.logo{
	display: inline;
	width:100px;
	height: 100px;
}

h1.logo{
	display: inline;
}

/* MAIN */
.wrapper{
	position: relative;
	width:100%;
	margin: 0 auto;

	background-color: #FFD500;
}

.main {
	padding-top: 10px;

	margin: 0 auto;
	width: 600px;
	height: auto;
	background-color: #EEE;
	-webkit-box-shadow: 0px 4px 5px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 5px rgba(0,0,0,0.75);

	padding-bottom: 200px;
}

form {
	margin: 60px auto;
	width: 42%;
}

form.login input {
	display: block;
	margin: 10px;
}



/* FOOTER */

footer {
	width:100%;
}

footer p{
	text-align: center;
}