<div id="nav" class="offset-by-five">
	<ul>
		<li><a href="/users/<%= current_user.id %>">Profile</a></li>
		<li><a href="/users/<%= current_user.id %>/feed">Feed</a></li>
		<li><a href="/users/<%= current_user.id %>/followees">Flock</a></li>
		<!-- <li><a href="/users/<%= current_user.id %>/followers">Ducklings</a></li> -->
		<li><a href="/users">Ducks</a></li>
	</ul>
</div>